.button {
	background-color: @color-primary;
	color: white;
}

:global(.main-btn) {
	.button;
	border-radius: 5px;
	width: @m-btn-w;
	height: @m-btn-h;
}

:global(.small-btn) {
	.button;
	border-radius: 3px;
	width: @s-btn-w;
	height: @s-btn-h;
}
