.button {
	outline: none;
	padding: 0;
	margin: 0;
	background-color: @color-primary;
	color: white;
}

.main-btn {
	.button;
	border-radius: 5px;
	width: @m-btn-w;
	height: @m-btn-h;
}

.small-btn {
	.button;
	border-radius: 3px;
	width: @s-btn-w;
	height: @s-btn-h;
}
